@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

body .containbg {
  perspective: 2px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }
  body .containbg h1 {
    display: block;
    position: absolute;
    z-index: 5;
    transform: translateY(-28em) translateZ(-0.5em) scale(22);
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    font-size: 4em; }
  body .containbg h2 {
    display: block;
    position: absolute;
    z-index: 2;
    transform: translateY(8em) translateZ(-1em) scale(27);
    margin: 0 auto;
    width: 100vw;
    text-align: center; }
  body .containbg .bg_back {
    transform: translateZ(-6px) scale(6) translateY(9em);
    z-index: -1;
    position: fixed;
    height: 100vh; }
  body .containbg .bg_mid1 {
    position: relative;
    transform: translateZ(-5px) scale(3);
    z-index: -1; }
  body .containbg .bg_mid3 {
    position: absolute;
    transform: translateZ(-3px) scale(3.3) translateY(2em);
    z-index: -1; }
  body .containbg .bg_mid2 {
    position: absolute;
    transform: translateZ(-4px) scale(4) translateY(9em);
    z-index: -1; }
  body .containbg .bg_mid4 {
    position: absolute;
    transform: translateZ(-2px) scale(2.5) translateY(1em); }
body .contained {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden; }
body .header {
  height: 5em;
  width: 100%;
  background: black;
  z-index: 1;
  position: fixed;
  top: 0; }
  body .header img.topimg {
    width: 12em;
    padding: 1em;
    display: block;
    position: absolute;
    top: 0; }
  body .header nav .navcontain {
    right: 2em;
    top: 1em;
    position: absolute; }
  body .header ul {
    list-style-type: none;
    display: inline-block; }
    body .header ul .menu {
      display: none; }
      body .header ul .menu::after {
        content: " ▲";
        font-size: 0.7em; }
      body .header ul .menu:hover::after {
        content: " ▼"; }
    body .header ul li {
      display: inline-block;
      padding: 1.2em;
      text-align: center; }
      body .header ul li a {
        text-decoration: none;
        font-weight: 500;
        display: block;
        color: white; }
body div.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: black;
  color: white; }
  body div.intro .welcome {
    top: 5em; }
  body div.intro img {
    display: block;
    left: 1em;
    top: -10em;
    width: 25em;
    margin-left: auto;
    margin-right: auto; }
  body div.intro article {
    width: 30em; }
body article {
  text-align: center;
  padding: 0.4em; }
  body article h2 {
    text-align: center;
    font-weight: 500;
    padding-bottom: 1.4em; }
  body article p {
    padding: 1.5em;
    color: #616161;
    font-size: 0.8em; }
body div.wie {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: block; }
  body div.wie::before {
    content: "";
    background: url("../assets/dividers/cloud.svg");
    width: 103%;
    height: 16em;
    display: block;
    position: relative;
    transform: translateX(-2em) translateY(-16em); }
  body div.wie h2 {
    padding: 2em; }
    body div.wie h2::before {
      width: 100%;
      height: 10em;
      border: solid 2px black; }
  body div.wie article {
    text-align: left; }
    body div.wie article h3 {
      text-align: center; }
    body div.wie article ul {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      body div.wie article ul li {
        list-style-type: none;
        width: 20em; }
      body div.wie article ul .steps {
        width: 11em;
        display: block;
        margin: 2em auto; }
      body div.wie article ul .learnsvg {
        width: 11em;
        justify-content: center; }
body div.products {
  margin-top: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  body div.products h2 {
    display: block;
    width: 100%;
    text-align: center; }
  body div.products article {
    justify-content: center;
    height: 23em;
    margin: 1em; }
    body div.products article p {
      width: 30em; }
  body div.products .svgcontain {
    height: 10em; }
    body div.products .svgcontain .svg {
      display: block;
      width: 14em;
      margin: auto; }
body div.pillars {
  line-height: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  body div.pillars .svgcontain {
    height: 15em; }
    body div.pillars .svgcontain .svg {
      display: block;
      width: 7em;
      margin: auto; }
    body div.pillars .svgcontain .pillar5 {
      width: 20em; }
  body div.pillars h2,
  body div.pillars h3,
  body div.pillars h4 {
    width: 100%;
    margin-top: 3em;
    padding: 1em;
    text-align: center; }
  body div.pillars .pillarblock {
    width: 22em;
    margin: 3em; }
  body div.pillars ol {
    font-weight: 900;
    color: #ff0000; }
body div.meldcontain {
  height: 50vh;
  margin: auto; }
body .contact {
  background-color: #ff0000;
  width: 15em;
  margin: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 4em; }
  body .contact h2 {
    color: white; }
body footer {
  background-color: #2e8bf4;
  height: 50vh;
  width: 100%; }
  body footer ul {
    color: white;
    height: 50%; }

div.navpower {
  width: 100%;
  margin: auto;
  text-align: center;
  height: 6em;
  top: 6em;
  display: block;
  position: relative; }
  div.navpower li {
    list-style-type: none;
    width: 10em;
    float: left;
    background: #5590bd;
    color: white;
    border-radius: 10em;
    margin-left: 1em;
    text-align: center;
    padding: 0.5em; }

div.oprichters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 6em; }
  div.oprichters h2 {
    width: 100%;
    display: block;
    text-align: center; }
  div.oprichters .founder {
    width: 30em; }
    div.oprichters .founder div.foundercontain {
      width: 20em;
      margin: auto; }
      div.oprichters .founder div.foundercontain img {
        width: 20em; }
    div.oprichters .founder h3 {
      text-align: center;
      font-family: "Quicksand-bold";
      font-size: 2.5em;
      height: 5em; }
    div.oprichters .founder p {
      line-height: 1.5em;
      padding: 2em; }

@media only screen and (max-width: 48em) {
  body nav .navcontain.show-nav {
    transform: translateX(0em);
    transition: all 300ms ease; }
  body nav .menu {
    display: block;
    color: white;
    border-bottom: none;
    right: 2em;
    top: 2em;
    position: absolute; }
    body nav .menu:hover {
      cursor: pointer;
      color: #2e8bf4;
      font-weight: 500;
      transition: all 200ms ease; }
  body nav .navcontain {
    background: #03A9F4;
    position: absolute;
    height: 100vh;
    width: 60vw;
    right: 0 !important;
    top: 0 !important;
    box-shadow: 9px 0 20px 9px darkslategrey;
    transform: translateX(30em); }
    body nav .navcontain ul {
      right: 0;
      display: block; }
    body nav .navcontain li {
      display: block;
      text-align: right;
      right: 0;
      border-bottom: 1px solid white;
      padding: 2em; }
      body nav .navcontain li:hover {
        color: red; }
    body nav .navcontain .sluitmenu {
      color: white;
      transition: all 300ms ease; }
      body nav .navcontain .sluitmenu:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.39); }
      body nav .navcontain .sluitmenu::before {
        content: 'x '; } }

/*# sourceMappingURL=stylesheet.css.map */
